@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.input-base {
		@apply w-full px-3 py-2 border border-gray-300 rounded-md bg-white text-sm transition-shadow shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500;
	}

	.input-file-label {
		@apply cursor-pointer flex flex-col items-center justify-center w-full h-48 border-2 border-dashed rounded-lg hover:border-blue-500;
	}
}
